NEW_RELIC_LICENSE_KEY=[YOUR_NEW_RELIC_LICENSE_KEY]
NEW_RELIC_APP_NAME=[YOUR_NEW_RELIC_APP_NAME]
POSTGRES_DB=myapp
POSTGRES_USER=myapp_user
POSTGRES_PASSWORD=myapp_password
DATABASE_URL=postgresql+psycopg://myapp_user:myapp_password@db:5432/myapp